.salary {
  position: relative;
  width: 100%;
  height: 119px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 1130px) {
  .salary {
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .salary {
    width: 95%;
  }
}
