.wrapper {
  width: 773px;
  min-height: 157px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vacancy {
  height: auto;
  margin: 24px 0px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.vacancy_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #232134;
}

.vacancy_information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.information_salary {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #232134;
}

.information_dot {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #7b7c88;
}

.information_condition {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #232134;
}

.vacancy_location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.location_city {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #232134;
}

.button {
  margin: 24px 24px 0px 0px;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
