
.description {
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #EAEBED;
  background-color: rgb(255, 255, 255);
}

.description p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 20px;
}

.description b {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.description ul {
  margin: 20px 0;
}

.description li {
  font-size: 16px;
  line-height: 22px;
  position: relative;
  padding-left: 15px;
}