.wrapper {
  position: relative;
  width: 100%;
}
.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 259px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #d5d6dc;
  border-radius: 8px;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #acadb9;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
  padding-left: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: black;
}

.input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #acadb9;
}

@media screen and (max-width: 1130px) {
  .input {
    width: calc(100% - 16px);;
  }
}
