.wrapper {
  position: relative;
  width: 100%;
}
.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 260px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d5d6dc;
  border-radius: 8px;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #acadb9;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
  padding-left: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: black;
}

.input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #acadb9;
}
/* .buttonIncrease {
  position: absolute;
  top: 30%;
  right: 25px;
  cursor: pointer;
}

.buttonIncrease::before {
  content: "";
  width: 7px;
  height: 2px;
  background-color: #acadb9;
  position: absolute;
  top: 0;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.buttonIncrease::after {
  content: "";
  width: 7px;
  height: 2px;
  background-color: #acadb9;
  position: absolute;
  top: 0;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.buttonIncrease::before {
  transform: rotate(42deg);
  left: 4px;
}

.buttonIncrease::after {
  transform: rotate(-42deg);
}

.buttonDecrease {
  position: absolute;
  bottom: 30%;
  right: 25px;
  cursor: pointer;
}

.buttonDecrease::before,
::after {
  content: "";
  width: 7px;
  height: 2px;
  background-color: #acadb9;
  position: absolute;
  top: 0;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.buttonDecrease::before {
  transform: rotate(-42deg);
  left: 4px;
}

.buttonDecrease::after {
  transform: rotate(42deg);
} */

/* .select::-ms-expand {
    display: none;
  }
  
  .select_wrapper {
    position: relative;
  }
  
  .select_wrapper::before {
    content: "";
  
    position: absolute;
    top: 30%;
    right: 12px;
    transform: translateY(-50%);
    display: block;
    width: 10px;
    height: 10px;
  
  
  
    border: 1.5px solid #acadb9;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    border-radius: 1.2px;
  
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  
    pointer-events: none;
  } */
