.wrapper {
  margin-top: 40px;
  width: 1116px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapperPreloader {
  position: relative;
  width: 773px;
  height: 496px;
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}

@media screen and (max-width: 1130px) {
  .wrapperPreloader {
    width: 100%;
  }
}

.vacanciesFromSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 1130px) {
  .wrapper {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .vacanciesFromSearch {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    margin-top: 15px;
  }
}
