.wrapper {
  margin: 24px 0px 24px 24px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  width: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #5e96fc;
  cursor: pointer;
}

.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.salary {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}

.dot {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #7b7c88;
}

.condition {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.city {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232134;
}
