.wrapper {
  background-color: aquamarine;
  margin: 24px;
  width: 725px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #232134;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
