.title {
  width: 275px;
  height: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 0;
  width: 115px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #acadb9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1130px) {
  .title {
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    width: 95%;
  }
}